src/main/bot/node_modules
src/main/bot/secrets.json
src/main/backend/.env
src/main/backend/__pycache__
src/main/backend/packages/essentials/__pycache__
src/main/backend/packages/routes/__pycache__
.DS_Store
api-spec/ecodes.xlsx
src/main/bot/logs/files/
src/main/bot/rHelpManager/helpDocs.json
src/RhapsodyDashboard/node_modules
src/main/bot/commands/agenda.txt
